body{

}





.introBox1 {
    margin: 100px;
}



.introImg1 {
    width: 600px;

    height: auto;
    max-width: 50%;
    border-radius: 12px;
}

.intro1Subox {

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.headerText {
    font-size: 32px;
    flex: 1;
}

.introHeader {
    font-size: 50px;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 150px;
}



.infoBox1 {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 200px;
}

.subBox {
    background-color: #3967ff79;
    margin-right: 100px;
    width: 400px;
    height: auto;
    border-radius: 12px;
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
}

.subText{
    font-size: 19px;
}

.subHeader{
    margin-bottom: 30px;
}

.subImg {
    width: 200px;
    height: auto;
    max-width: 100%;
    border-radius: 12px;
    margin-bottom: 30px;
}
