body{

}

.introBox {
    background-image: url("/Images/introBoxImg1.jpg"); /*Open Source Image origin: https://unsplash.com/photos/group-of-people-using-laptop-computer-QckxruozjRg */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.introHeader, .introText {
    font-size: 50px;
    text-align:center;
    color: white;
    align-items: center;
}

.introSubBox {
    align-items: center;
    margin: 100px;
}

.btn1 {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 20px;
    width: 200px;
    height: auto;

    font-size: 24px;
    padding: 16px;
    cursor: pointer;
    border-radius: 5px;
    border-style: none;
    transition: 0.4s;
    background-color: #2180a9;
}

    .btn1:hover {
        background-color: #225074
    }




.infoBox1 {
    margin: 100px;
}



.infoImg1 {
    width: 600px;
    height: auto;
    border-radius: 12px;

}

.info1Subox {
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subText{
    font-size: 32px;
}

